!!!
%head
	%meta{ :charset => 'utf-8' }
	%meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }

	%title= "Top Ten Tracks"
	%meta{ :name => "description",  :content => "Just the top ten tracks!" }
	%meta{ :name => "author",       :content => "Liam Anderson" }

	%meta{ :name => "viewport",     :content => "width=device-width" }

	%link{ :rel => "stylesheet",    :href => "//fonts.googleapis.com/css?family=Open+Sans:400,300" }
	%link{ :rel => "stylesheet",    :href => "/css/bootstrap.min.css" }
	%link{ :rel => "stylesheet",    :href => "/css/main.css" }

%body
	.container
		.row
			.span12
				.centre
					%h1 listen to artists' top ten tracks
					%form.form-search
						.input-append
							%input.input-xlarge.search-query{:type => "text", :placeholder => "Search for Artist"}
							%button.btn
								%i.icon-search

	%script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" }
	%script{ :src => "//ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js" }
	%script{ :src => "/js/bootstrap.min.js" }
	%script{ :src => "/js/enquire.min.js" }
	%script{ :src => "/js/main.js" }
	:javascript
		(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
		g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
		mixpanel.init("f225ac14c93aa8913855140f3c451f0d");